
html {
    overflow-y: scroll;
    line-height: 1.5;
    font-family:system-ui, -apple-system, "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", "Hiragino Sans GB", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
}
.container{
    /* 15英寸 */
    width: 10in;
    margin: 0 auto;
}
.prose{
    line-height: 1.5;
}