
html {
    background-color: #eee;
    overflow-y: scroll;
    line-height: 1.5;
    font-family:system-ui, -apple-system, "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", "Hiragino Sans GB", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
}
