---
import Layout from "@layouts/Layout.astro";
import getGroups from "@utils/getGroups";
const groups = await getGroups();
---

<Layout>
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 md:gap-28px gap-10px w-full md:w-960px md:shadow-md bg-white min-h-1080px md:py-30px md:px-50px px-10px py-10px mb-20px pb-100px"
  >
    {
      Array.from(groups.entries()).map(([key, value]) => (
        <section class="border-1px border-#eee rounded-md py-20px px-15px overflow-hidden pb-25px tracking-wide ">
          <div class="flex justify-between mb-10px px-10px">
            <h3 class=" text-#000 font-bold text-16px">{key}</h3>
            <div class="bg-#F6EACF px-8px py-2px flex flex-row items-center gap-4px">
              <span class="w-11px h-11px bg-#FBBF24 rounded-full" />
              <span class="text-12px  text-#333 font-mono">合集</span>
            </div>
          </div>
          <ul class="text-14px leading-2em">
            {value.slice(0, 5).map(post => (
              <li class="truncate hover:bg-black/3  px-10px rounded-md group cursor-pointer">
                <a href={post.slug} class="  ">
                  <span class="text-#555 mr-4px">10-12</span>
                  <span class="group-hover:text-block  text-#090909 ">
                    {post.data.title}
                  </span>
                </a>
              </li>
            ))}
          </ul>
          <div class="flex flex-row justify-between items-center text-12px text-#555 px-10px mt-15px font-mono">
            <span>最后发布于前天深夜 3 点</span>
            <span>99+</span>
          </div>
        </section>
      ))
    }
  </div>
</Layout>

<style></style>
