---
import Layout from "@layouts/Layout.astro";
import getPosts, { groupByCollection } from "@utils/getPosts";

const posts = await getPosts();
const collections = await groupByCollection(posts);
---

<Layout>
  <div
    class="container  grid grid-cols-2  gap-.2in  bg-white "
  >
    {
      Object.keys(collections).map(collection => (
        <section class="border-1px border-#eee rounded-md py-20px px-15px overflow-hidden pb-25px tracking-wide ">
          <div class="flex justify-between mb-10px px-10px">
            <h3 class=" text-#000 font-bold text-16px">{collection}</h3>
          </div>
          <ul class="text-14px leading-2em">
            {collections[collection].slice(0, 5).map(post => (
              <li class="truncate hover:bg-black/3  px-10px rounded-md group cursor-pointer">
                <a href={post.slug.replace(/.+?\//, "/")}>
                  <span class="text-#555 mr-4px">
                    {post.data.pubTimeText.slice(5, 10)}
                  </span>
                  <span class="group-hover:text-block  text-#090909 ">
                    {post.data.title}
                  </span>
                </a>
              </li>
            ))}
          </ul>
          <div class="flex flex-row justify-between items-center text-12px text-#555 px-10px mt-15px font-mono">
            <figcaption>最后发布于前天深夜 3 点</figcaption>
            <figcaption>99+</figcaption>
          </div>
        </section>
      ))
    }
  </div>
</Layout>

<style></style>
